* {
  color: white;
  font-family: "Roboto", sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;

  padding: 0em;
  margin: 0em;
}

body {
  background: #111;
}

.main-container {
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 50%;
  transform: translate(-50%);
  padding: 1em;
  background: #333;
  overflow-y: auto;
}

.tile {
  position: relative;
  background: #111;
  width: 5em;
  height: 5em;

  &.highlight {
    background: #222;
  }

  .icon {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .value {
    position: absolute;
    background: rgba(0, 255, 0, 0.5);
    top: 0em;
    right: 0em;
    padding: 0em 0.25em;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.2em;
    z-index: 1;
  }

  .top-stat {
    position: absolute;
    background: rgba(255, 0, 0, 0.5);
    top: 0em;
    left: 0em;
    padding: 0em 0.25em;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.2em;
    z-index: 1;
  }
}

.tile-details {
  position: relative;
  background: #111;
  width: 15em;
  padding: 1em;

  .name {
    font-size: 2em;
    text-align: center;
  }

  .rarity {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.5em;
  }

  .icon {
    width: 100%;
  }

  .description {
    font-size: 1.5em;
    line-height: 1.5em;

    .icon {
      width: 1em;
      vertical-align: middle;
    }
  }
}

.board {
  display: grid;
  column-gap: 0.5em;
  row-gap: 0em;
  /* tamplates filled out by the component */
}

.inventory {
  display: grid;
  grid-template-columns: repeat(auto-fill, 5em);
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.pick-a-tile {
  display: flex;
  gap: 1em;

  .option {
    .tile-details {
      flex-grow: 1;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

button {
  color: #000;
  background: #fff;
  border: 0em;
  font-size: 2em;
  cursor: pointer;
  width: 100%;
  outline: 0;
}

.icon-em {
  .icon {
    vertical-align: bottom;
    font-size: inherit;
    width: 1em;
  }
}

.game-events {
  .event {
    background: #000;
    padding: 0.5em;

    .message {
    }
  }
}

.buy-new-card {
  display: flex;

  .rarity {
    background: #111;
    padding: 1em;
    margin-right: 1em;

    .name {
      font-size: 1.5em;
    }
    .cost {
      font-size: 2em;
    }

    .remaining-tiles {
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}

.version {
  position: absolute;
  top: 0em;
  right: 0em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  .shade {
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    .container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 75%;
      padding: 1em;
      background: #333;
      box-shadow: 0em 0em 1em 0em #000;
    }
  }
}
